{% extends "base.html" %}

{% block title %}Consulting{% endblock %}

{% block extraHead %}
<style>
    #tawk_621a26811ffac05b1d7c017f>div {
        width: 100% !important;
        max-width: 100% !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="text-center">
    <div class="display-3">Wanna talk?</div>
    <div class="text-muted">We're here for you.</div>
    <button type="button" class="btn btn-sm btn-outline-secondary my-1" id="backBtn">I'm good, thanks.</button>
</div>
<div id="tawk_621a26811ffac05b1d7c017f"></div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date(); Tawk_API.embedded = 'tawk_621a26811ffac05b1d7c017f';
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/621a26811ffac05b1d7c017f/1fsr2i34c';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
{% endblock %}