
    <div class="sidebar">
  <!--<a class="active" href="#home">Home</a> -->
  <div class="active">
  <p>Balance</p>
  <h4 class ="current-balance">100000.00</h4>
  </div>
  <h4 class="leaderboard-item">Top Overall</h4>
  <ol class="leaderboard">
    <li class="leaderboard-item">AppLe</li>
    <li class="leaderboard-item">Facebook(new record!!)</li>
  </ol>
  <!--<a href="#news">Leaderboard</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a> -->
</div> 


<!doctype html>
<html lang="en">

<head>
    {% include 'head.html' %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">EZFinance</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="bankingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Banking
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="bankingDropdown">
                            <li><a class="dropdown-item" href="/banking">Home</a></li>
                            <li><a class="dropdown-item" href="/banking/transactions.html">Transactions</a></li>
                            <li><a class="dropdown-item active" href="/banking/transfer.html">Transfer</a></li>
                            <li><a class="dropdown-item" href="/banking/appointment.html">Appointment</a></li>
                            <li><a class="dropdown-item" href="/banking/consulting.html">Consulting</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="investmentDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Investment
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="investmentDropdown">
                            <li><a class="dropdown-item" href="/investment">Home</a></li>
                            <li><a class="dropdown-item" href="/investment/short-term.html">Short-term</a></li>
                            <li><a class="dropdown-item" href="/investment/long-term.html">Long-term</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <div class="sidebar">
        <!--<a class="active" href="#home">Home</a> -->
    <!-- <div class="active">
            <p>Balance</p>
            <h4 class="current-balance">100000.00</h4>
        </div>
        <h4 class="leaderboard-item">Top Overall</h4>
        <ol class="leaderboard">
            <li class="leaderboard-item">AppLe</li>
            <li class="leaderboard-item">Facebook(new record!!)</li>
        </ol> -->
    <!--<a href="#news">Leaderboard</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a> -->
    <!-- </div> -->
    <div class="container text-center">
        <i class="fa-solid fa-pen-ruler fa-10x my-3"></i>
        <h1>Under construction…</h1>
        <button type="button" class="btn btn-primary" id="backBtn">Back</button>
    </div>
    
    {% include 'scripts.html' %}
    <script>
        $("#backBtn").click(function () {
            window.history.back();
        });
    </script>
</body>

</html>